<mat-card class="custom-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div class="image-container">
        <img class="main-image" mat-card-image src="../../../../assets/knight/knight1.jpg" alt="Main Image">
        <div>
          <img class="secondary-image" mat-card-image src="../../../../assets/knight/knight2.jpg" alt="Secondary Image 1">
          <img class="secondary-image" mat-card-image src="../../../../assets/knight/knight3.jpg" alt="Secondary Image 2">
        </div>
      </div>
      <mat-card-title>Hollow Knight</mat-card-title>
      <mat-card-subtitle>VideoJuego $12</mat-card-subtitle>
    </mat-card-content>
  </mat-card>