.card-container {
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.card-container:hover {
    transform: scale(1.05);
  }

.image-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.subtitle-container {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-evenly;
}

.main-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

