<mat-card class="card-container" (click) = "navigateToProduct()">

  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="image-container">
      <img class="main-image" mat-card-image [src]="product.image" alt="{{ product.name }}">
    </div>

    <!-- TODO como se usa la categoria -->
    <mat-card-title>{{ product.category.name }}</mat-card-title>
    <div class="subtitle-container" >
      <mat-card-subtitle>Marca: {{ product.brand }}</mat-card-subtitle> 
      <mat-card-subtitle>Precio: ${{ product.price }}</mat-card-subtitle>
      <p-rating [(ngModel)]= "value" [readonly]="true" [cancel]="false"/>
    </div>
  </mat-card-content>
  
</mat-card>