.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
  }
  
  .login-card {
    background: #fff;
    padding: 2rem;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .logo {
    width: 50px;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .register-link {
    color: #6c757d;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .form-group label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .password-container {
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    flex: 1;
  }
  
  .toggle-password {
    background: none;
    border: none;
    color: #6c757d;
    cursor: pointer;
  }
  
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
  
  .login-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .social-login {
    text-align: center;
    margin-top: 1rem;
  }
  
  .social-login p {
    margin-bottom: 0.5rem;
  }


  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
  }
  
  .divider span {
    font-size: 14px;
    color: #555;
    white-space: nowrap;
  }
  
  .google-button,
  .facebook-button {
    width: 47%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0.25rem;
  }
  
  .google-button {
    background-color: #ea4335;
    color: white;
    border-radius: 4px;
  }
  
  .facebook-button {
    background-color: #1877f2;
    color: white;
    border-radius: 4px;
  }