.card-container {
    display: flex;
    justify-content: center;
  }
  
  .category-card {
    transition: transform 0.3s ease-in-out; /* Añade una transición suave para el efecto hover */
  }
  
  .category-card:hover {
    transform: scale(1.05); /* Aumenta el tamaño del card al pasar el mouse por encima */
  }
  
  .card-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del card */
    height: auto;
    object-fit: cover; /* Ajusta la imagen para que se recorte si es necesario */
  }