<div class="card-container" (click) = "navigateToProduct()">
  <p-card class="discount-card">

      <ng-template pTemplate="header">
        <img class="card-image" [src]="product.image" alt="{{ product.name }}">
      </ng-template>

      <ng-template pTemplate="title">
        {{ product.name }}
      </ng-template>

      <ng-template pTemplate="subtitle">
        {{ product.brand }}
      </ng-template>

      <ng-template pTemplate="content">
        <p class="original-price">Original Price: ${{ product.price }}</p>
        <p class="discounted-price">Discounted Price: ${{ product.price * 0.5 }}</p> <!-- Assuming a 20% discount -->
      </ng-template>
      
    </p-card>
</div>