<mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="over" class="mobile-sidenav">

      <mat-nav-list>
        <a mat-list-item routerLink="/categories">Categorías</a>
        <a mat-list-item routerLink="/sell">Vender</a>
        <a mat-list-item routerLink="/register">Registrarse</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="tool-backgorund" color="primary">
        <div class="brand-container">
          <span>Car</span>
          <span class="red-text">Auto</span>
        </div>
        
        <div class="search-container">
          <app-search-box></app-search-box>
        </div>


        <span class="spacer"></span>

        <div class="button-row">
          <button mat-button class="button-text" routerLink="/categories">Categorías</button>
          <button mat-button class="button-text" routerLink="/sell">Vender</button>
          <button mat-button class="button-text" routerLink="/register">Registrarse</button>
        </div>

        <button mat-icon-button class="mobile-menu-button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

      </mat-toolbar>

      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>