<table>
    <thead>
      <tr>
        <!-- <th>Nombre</th>
        <th>Cédula</th>
        <th>Teléfono</th> -->
        <th>ID</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <!-- <td>{{ user.nombre }}</td>
        <td>{{ user.cedula }}</td>
        <td>{{ user.telefono }}</td> -->
        <td>{{user.id}} </td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button onclick="" routerLink="/users/editUser" routerLinkActive="active" id="btn-edit">Editar</button> <!-- (click)="editUser.emit(user)"  -->
          <button (click)="deleteUser.emit(+user.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex bd-highlight">
    <p id="paginationInfo" class="p-2 w-100 bd-highlight">Mostrando 1 a 10 de <span id="totalUsers">0</span> resultados</p>
    <div class="pagination p-2 flex-shrink-1 bd-highlight">
      <button id="prevPage">&lt;</button>
      <button id="nextPage">&gt;</button>
    </div>
  </div>
  
  