<div class="container">
    <h1>Gestión de Usuarios</h1>
    <div class="search-bar">
      <input type="text" placeholder="Buscar usuarios..."   (keyup.enter)="ngOnChanges(textInput.value)" id="searchUser" #textInput/>
      <button (click)="onNewUser()" >Agregar Usuario</button>
    </div>

    <app-table-users 
        [users]="filteredUsers" 
      (editUser)="onEditUser($event)" 
      (deleteUser)="deleteUser($event)"></app-table-users>

    @if(selectedUser){
      <app-form-user 
        [user]="selectedUser" 
        (saveUser)="saveUser($event)" 
        (close)="closeForm()"></app-form-user>
    }
  </div>
  
