<div class="container">

    @for (prod of products; track $index) {
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ prod.name }}</mat-card-title>
                <mat-card-subtitle>{{ prod.price }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ prod.image }}" alt="{{ prod.name }}">
            <mat-card-actions>
                <button mat-raised-button (click)="onRestock(prod)">Restock</button>
            </mat-card-actions> 
        </mat-card>
    }

</div>