<div [formGroup]="formGroup" class="shipping-container">
  <mat-form-field>
    <input matInput placeholder="Nombre del Destinatario" formControlName="name">
    <mat-error *ngIf="isFieldInvalid('name')">Este campo es obligatorio</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Dirección" formControlName="address">
    <mat-error *ngIf="isFieldInvalid('address')">Este campo es obligatorio</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ciudad" formControlName="city">
    <mat-error *ngIf="isFieldInvalid('city')">Este campo es obligatorio</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Código Postal" formControlName="postalCode">
    <mat-error *ngIf="isFieldInvalid('postalCode')">Este campo es obligatorio</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="onProceedToPayment()">Proceder al Pago</button>
</div>