<div class="modal-overlay">
<div class="product-form">
    <h2>{{ product ? 'Editar Producto' : 'Agregar Producto' }}</h2>
    <!-- <button class="modal-close" (click)="closeModal()" routerLink="/products/manageProducts" routerLinkActive="active">×</button> -->
    <form (ngSubmit)="submitForm()">
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="product.name" name="nombre" required />
      
      <label>Descrición:</label>
      <input type="text" [(ngModel)]="product.description" name="marca" required />

      <label>Categoría:</label>
      <input type="text" [(ngModel)]="product.category" name="categoria" required />
  
      <label>Marca:</label>
      <input type="text" [(ngModel)]="product.brand" name="marca" required />
  
      <label>Precio:</label>
      <input type="number" [(ngModel)]="product.price" name="precio" required />

      <label>Descuento:</label>
      <input type="number" [(ngModel)]="product.discount" name="discount" required />
  
      <label>Imagen:</label>
      <input type="text" [(ngModel)]="product.image[0]" name="imagen" required />
  
      <div class="form-actions">
        <button type="submit" (click)="submitForm()">{{ product ? 'Actualizar' : 'Agregar' }}</button> 
        <button type="button" (click)="closeModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
