<div class="product-detail" *ngIf="product">
  <div class="product-detail-container">
    
    <div class="product-main-info">

      <div class="product-image-container">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image">
      </div>
      
      <div class="product-info-container">
      
        <h1>{{ product.name }}</h1>
        <p class="product-description">{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <p>Brand: {{ product.brand }}</p>
        <p>Rating: <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false"></p-rating></p>
        <div>
          <button pButton type="button" label="Add to Cart" icon="pi pi-shopping-cart" class="small-green-button" (click)="addToCart()"></button>
        </div>

        <div *ngIf="userRole === 'admin'">
          <button pButton type="button" label="Modificar Producto" icon="pi pi-pencil" class="small-blue-button" (click)="editProduct()"></button>
        </div>
        
      </div>
    </div>
    
    <div class="product-additional-info">
      <h5>Tambien te puede interesar</h5>
      <p>Detalles tecnicos TODO</p>
    </div>
    
    <app-new-review [productId]="product.id" *ngIf="isLoggedIn"></app-new-review>
    <div *ngIf="!isLoggedIn">
      <p>Debes registrarte o iniciar sesión para agregar una review.</p>
    </div>
    
    <div class="reviews-list">
      <h4>Reviews</h4>
        <div *ngFor="let review of reviews">
          <app-posted-review [review]="review"></app-posted-review>
        </div>
    </div>
  
  </div>
</div>