<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="cartFormGroup">
    <form [formGroup]="cartFormGroup">
      <ng-template matStepLabel>Carrito de Compras</ng-template>
      <div class="cart-container">
        <div class="cart-items">
          <div *ngIf="productList.length === 0" class="empty-message">
            No has agregado productos a tu carrito
          </div>
          <div *ngFor="let product of productList" class="cart-item">
            <app-cart-products [product]="product" (removeProduct)="handleRemoveProduct($event)"></app-cart-products>
          </div>
        </div>
        <app-cart-summary [cartItems]="cartItems" [tax]="tax" [total]="total" (proceedToShipping)="nextStep(stepper)"></app-cart-summary>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="shippingFormGroup">
    <form [formGroup]="shippingFormGroup">
      <ng-template matStepLabel>Información de Envío</ng-template>
      <app-shipping-form [formGroup]="shippingFormGroup" (proceedToPayment)="nextStep(stepper)"></app-shipping-form>
    </form>
  </mat-step>

  <mat-step [stepControl]="cardFormGroup">
    <form [formGroup]="cardFormGroup">
      <ng-template matStepLabel>Información de Pago</ng-template>
      <app-payment-method [formGroup]="cardFormGroup" (proceedToReview)="nextStep(stepper)"></app-payment-method>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Finalizar Pedido</ng-template>
    <app-review-order [cartItems]="cartItems" [tax]="tax" [total]="total" [shipping]="shippingFormGroup" [payment]="cardFormGroup"></app-review-order>
    <div>
      <button mat-raised-button color="primary" (click)="onPlaceOrder()">Realizar Pedido</button>
    </div>
  </mat-step>

</mat-vertical-stepper>