.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: nowrap; /* Asegura que los elementos no se ajusten en varias líneas */
}

.cart-items {
  flex: 3;
  margin-right: 20px;
  min-width: 60%; /* Asegura que los elementos del carrito ocupen al menos el 60% del ancho */
  display: flex;
  flex-direction: column;
}

.cart-item {
  margin-bottom: 10px;
}

.empty-message {
  text-align: center;
  font-size: 18px;
  color: #999;
}