<!-- Fondo del modal y contenedor -->
<div class="modal-overlay" *ngIf="showForm">
    <div class="modal-content">
      <button class="modal-close" (click)="closeModal()">×</button>
      <h2>{{ user._id ? 'Editar Usuario' : 'Agregar Usuario' }}</h2>
      <form (ngSubmit)="submitForm()">
        <!-- <label>Nombre:</label>
        <input type="text" [(ngModel)]="user." name="nombre" required />
  
        <label>Cédula:</label>
        <input type="text" [(ngModel)]="user.cedula" name="cedula" required />
  
        <label>Teléfono:</label>
        <input type="text" [(ngModel)]="user.telefono" name="telefono" required /> -->
  
        <label>Correo:</label>
        <input type="email" [(ngModel)]="user.email" name="correo" required />

        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="user.password" name="password" required />
  
        <label>Rol:</label>
        <select [(ngModel)]="user.role" name="rol" required>
          <option value="customer">Usuario</option>
          <option value="admin">Administrador</option>
          <option value="logistics">Logístico</option>
        </select>
  
        <button type="submit" (click)="submitForm()">Guardar</button>
        <button type="button" (click)="closeModal()">Cancelar</button>
      </form>
    </div>
  </div>
  
