<div class="products-management">
    <h1 class="mx-2">Gestión de Productos</h1>
    
    <div class="search-bar mx-3">
      <input type="text" placeholder="Buscar productos..." (keyup.enter)="ngOnChanges(textInput.value)" id="searchUser" #textInput />
      <button (click)="onNewProduct()">Agregar Producto</button>
    </div>
  
    <app-table-products 
      [products]="filteredProducts" 
      (editProduct)="onEditProduct($event)" 
      (deleteProduct)="deleteProduct($event)">
    </app-table-products>

    @if(selectedProduct){
      <app-form-products
      [product]="selectedProduct"
      (saveProduct)="saveProduct($event)" 
      (closeForm)="closeForm()">
    </app-form-products>
    }

  </div>
  